.Company_card_container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1.2rem 0rem 1rem 0rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.Company_details {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
}
.Company_profile {
  width: 20%;
}
.Company_profile_dec {
  width: 70%;

}
.Company_profile_doc {
  width: 12%;
}
.Company_profile_company_dec {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.Company_profile_company_dec h5 {
  font-size: 1.5rem;
  text-align: center;
}

.Company_profile_dec p {
  display: flex;
  margin-top: 0.6rem;
  padding: 0.1rem;
  font-size: 1rem;
}
.Company_profile_dec p span {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.Company-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
}
.Company_working_type {
  display: flex;
  gap: 2rem;
}

.Company_working_type_full {
  border: 1px solid rgba(255, 0, 0, 0.686);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
  color: red;
}
.Company_working_type_full:hover {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.084);
}
.Company_working_type_part {
  border: 1px solid rgba(0, 128, 0, 0.827);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s;
  color: green;
}
.Company_working_type_part:hover {
  background-color: rgba(0, 128, 0, 0.097);
}
.Company_working_type_remote {
  border: 1px solid rgba(0, 0, 255, 0.668);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
  color: blue;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.Company_working_type_remote:hover {
  background-color: rgba(0, 0, 255, 0.126);
}

.reject_btn {
  color: rgba(255, 0, 0, 0.684);
  transition: 0.3s;
  font-weight: 700;
}
.approve_btn {
  color: rgba(0, 128, 0, 0.744);
  transition: 0.3s;
  font-weight: 700;
}
.details_btn {
  color: #1966d2d5;
  transition: 0.3s;
  font-weight: 700;
}
.reject_btn:hover {
  color: red;
}
.approve_btn:hover {
  color: green;
}
.details_btn:hover {
  color: #1967d2;
}
